/* css  */
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: fallback; }
div, p, input, button, form, span, a, ul, li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700; }

.container {
  width: 1170px;
  margin: 0 auto; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

header {
  background: #4ebdfe;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #4ebdfe), color-stop(100%, #3790d9));
  background: -o-linear-gradient(-45deg, #4ebdfe 0%, #3790d9 100%);
  background: -o-linear-gradient(315deg, #4ebdfe 0%, #3790d9 100%);
  background: linear-gradient(135deg, #4ebdfe 0%, #3790d9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebdfe', endColorstr='#3790d9', GradientType=1 );
  padding-top: 70px;
  padding-bottom: 225px;
  color: #fff; }

.offer {
  /* margin-top: 140px; */ }

.title {
  font-size: 37px; }
  .title span {
    font-size: 59px;
    line-height: 1.5; }

.intro {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.688;
  width: 400px;
  margin: 43px 0; }

.btn {
  background-color: #ffd429;
  display: block;
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: 900;
  text-align: center;
  width: 226px;
  text-decoration: none;
  line-height: 1.667;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 20px 0px; }
  .btn:hover {
    background: #f4cd34; }

.section-title {
  font-size: 30px;
  text-align: center; }

.ahead {
  padding-top: 110px;
  padding-bottom: 110px; }

.forwards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 70px; }

.forward {
  text-align: center; }

.forward-title {
  font-size: 19px;
  margin-top: 30px;
  margin-bottom: 20px; }

.forward-text {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 15px; }

.forward-time {
  width: 295px; }

.forward-travel {
  width: 274px; }

.forward-value {
  width: 300px; }

.future {
  background: #ecf3f8;
  padding-top: 100px;
  padding-bottom: 100px; }

.form-wrapp {
  width: 340px;
  margin: auto;
  padding-top: 63px; }

.input {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 15px;
  height: 47px;
  width: 100%;
  padding-left: 25px;
  border: 1px solid #bbbbbb;
  margin-bottom: 18px; }

.btn-form {
  border: 0;
  cursor: pointer;
  width: 100%; }

.footer {
  background: #164d7a;
  padding: 65px 0; }

.copyright {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #fff;
  text-align: center; }

.animated {
  opacity: 0; }

/*Responsive*/
/* 992px - 1200px */
@media screen and (max-width: 1200px) {
  .container {
    width: 960px; } }
/* 768px - 992px */
@media screen and (max-width: 992px) {
  .container {
    width: 720px; }

  .header {
    padding-bottom: 100px; }

  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

  .offer {
    width: 100%; }

  .intro {
    width: auto; }

  .travel {
    display: block;
    width: 641px;
    margin: 72px auto 0; }

  .forwards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

  .forward {
    width: auto;
    margin-bottom: 30px; } }
/* 576px - 768px */
@media screen and (max-width: 768px) {
  .container {
    width: 540px; }

  .offer {
    width: 100%; }
    .offer h1 {
      text-align: center; }

  .intro {
    text-align: center; }

  .travel {
    width: 100%; }

  .ahead {
    padding-top: 60px;
    padding-bottom: 60px; }

  .form-wrapp {
    width: 100%; }

  .btn {
    margin-left: 0;
    margin-top: 15px;
    width: 100%; }

  .header {
    padding-bottom: 100px; } }
/* 320px - 576px */
@media screen and (max-width: 576px) {
  .container {
    width: 90%; } }

/*# sourceMappingURL=style.css.map */
